*, 
html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width: 500px;
    margin: 0 auto;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 325px;
    min-height: 100vh;
}

.content{
    margin: 8px;
}

#pertanyaan{
    color: white;
    font-size: 1.6em;
    font-weight: 500;
}

#jawaban{
    color: black;
}

.row{
    display: flex;
    flex-direction: row;
}

button{
    border: none;
    background-color: goldenrod;
    font-size: 24px;
    padding: 16px;
    margin-left: 10px;
    height: 65px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
    justify-content: center;
}

button:hover{
    cursor: pointer;
    background-color: gold;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
}

input{
    border: none;
    background-color: aliceblue;
    color: #eaeaea;
    padding: 16px;
    font-size: 1.5em;
    margin-top: 10px;
}

#loaders{
    display: none;
    width: 85px;
    height: 85px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-top: 15px solid goldenrod;
    animation: .3s spinner infinite linear;
    -webkit-animation: .3s spinner infinite linear;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}    

    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

