*, 
html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pertanyaan{
    color: white;
    font-size: 1.6em;
    font-weight: 500;
}

#jawaban{
    color: black;
}

.row{
    display: flex;
    flex-direction: row;
}

button{
    border: none;
    background-color: goldenrod;
    font-size: 24px;
    padding: 16px;
    margin-left: 10px;
    height: 65px;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

input{
    border: none;
    background-color: aliceblue;
    color: #eaeaea;
    padding: 16px;
    font-size: 1.5em;
    margin-top: 10px;
}

